<div class="main-container" align="center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s8">
            <i class="material-icons prefix">search</i>
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input">search</label>
          </div>
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
          <div class="input-field col s4">
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
      {{# if food }}
      <table class="striped">
        {{# each food as |f key|}}
        <tr>
          <td>{{ f.type }}</td>
          <td>{{ f.name }}</td>
          <td>{{ f.name }}</td>
          <td>{{ f.name }}</td>
          <td><a class="waves-effect waves-light btn btn-small">reserve</a></td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
     </div>
    </div>
  </div>
</div>
<<<<<<< HEAD
=======
<script>
   document.getElementsByClassName("reserve-btn").addEventListener("click", function(){
     window.location.replace("/reserve-item/{{f.id}}");
  });
</script>
>>>>>>> dc31939a5328338fa6bb3aa826f40c7c478dfb9c
