<div class="main-container" align="center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="search-input" class="autocomplete" onkeyup="search()">
            <label for="search-input">search</label>
              <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Get a Recipe!</a>

              <!-- Modal Structure -->
              <div id="modal1" class="modal">
                  <div class="modal-content">
                      <h4>{{recipeResult.name}}</h4>
                      <img src="{{recipeResult.image}}">
                      <ul class="striped">
                          {{# each recipeResult.ingredients as | f key|}}
                              <li>{{f}}</li>
                          {{/each}}
                      </ul>
                      <br>
                      <p>calories: {{recipeResult.calories}}, time: {{recipeResult.time}}, diet: {{recipeResult.diet}}</p>
                      <br>
                      <br>
                      <p><i>source: {{recipeResult.source}}</i></p>
                  </div>
                  <div class="modal-footer">
                      <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Close</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
      {{# if food }}
      <table class="striped" id="itemsTable">
        {{# each food as |f key|}}
        <tr>
          <td>{{ f.name }}</td>
          <td>{{ f.type }}</td>
          <td>{{ f.amount }} {{ f.unit }}</td>
          <td>{{ f.expiration_date }}</td>
          <td>{{ f.offeredBy }}</td>
          <td>{{ f.location.distance }}</td>
        </tr>
        {{/each}}
      </table>
      {{/if}}
     </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });
</script>
<script>
function search() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("itemsTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
