<div class="main-container" align="center">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input type="text" id="search-input" class="autocomplete"  onkeyup="search()">
            <label for="search-input">search</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
      {{# if food }}
      <table class="striped" id="itemsTable">
        <thead>
          <tr>
            <th class="head" data-field="#">name</th>
            <th class="head" data-field="#">food type</th>
            <th class="head" data-field="#">amount</th>
            <th class="head" data-field="#">expiration date</th>
              <th class="head" data-field="#">booked by</th>
          </tr>
        </thead>
        <tbody>
        {{# each food as |f key|}}
        <tr>
          <td>{{ f.name }}</td>
          <td>{{ f.type }}</td>
          <td>{{ f.amount }} {{ f.unit }}</td>
          <td>{{ f.date_s}}</td>
          <td>{{ f.blockedBy.name }}</td>
        </tr>
        {{/each}}
        </tbody>
      </table>
      {{/if}}
     </div>
    </div>
  </div>
</div>
<script>
function search() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search-input");
  filter = input.value.toUpperCase();
  table = document.getElementById("itemsTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

</script>
